/* @media (min-width: 750px) {
  #navbar-toggler {
    display: ;
  }
} */

/* 
* {
  color: white;
} */

*::selection {
  background-color: goldenrod;
  color: black;
}

#navbar {
  width: 100%;
}

#navbar-container {
  justify-content: space-between;
}

@media (min-height: 755px) {
  #home {
    height: 800px !important;
  }

  #profile {
    height: 800px !important;
  }

  #discover {
    height: 800px !important;
  }

  #users {
    height: 800px !important;
  }

  #settings {
    height: 800px !important;
  }
}

@media (min-height: 801px) {
  #home {
    height: 915px !important;
  }

  #profile {
    height: 915px !important;
  }

  #discover {
    height: 915px !important;
  }

  #users {
    height: 915px !important;
  }

  #settings {
    height: 915px !important;
  }
}

@media (min-height: 935px) {
  #home {
    height: 975px !important;
  }

  #profile {
    height: 975px !important;
  }

  #discover {
    height: 975px !important;
  }

  #users {
    height: 975px !important;
  }

  #settings {
    height: 975px !important;
  }
}

@media (min-height: 1000px) {
  #home {
    height: 1080px !important;
  }

  #profile {
    height: 1080px !important;
  }

  #discover {
    height: 1080px !important;
  }

  #users {
    height: 1080px !important;
  }

  #settings {
    height: 1080px !important;
  }
}

@media (min-height: 1300px) {
  #home {
    height: 1440px !important;
  }

  #profile {
    height: 1440px !important;
  }

  #discover {
    height: 1440px !important;
  }

  #users {
    height: 1440px !important;
  }

  #settings {
    height: 1440px !important;
  }
}

@media (min-height: 1900px) {
  #home {
    height: 2160px !important;
  }

  #profile {
    height: 2160px !important;
  }

  #discover {
    height: 2160px !important;
  }

  #users {
    height: 2160px !important;
  }

  #settings {
    height: 2160px !important;
  }
}
